#penxunkecheng{margin-top:20px;background:white; padding:10px 30px 30px; }
#penxunkecheng .item{padding-top:70px;}
#penxunkecheng .img_box{float:left; width:507px;}
#penxunkecheng .kecheng_info{float:left; position: relative; width:570px; background:#936047; color:white; padding:10px;  padding-top:89px;}
#penxunkecheng .kecheng_info p{line-height: 25px;}
#penxunkecheng .kecheng_info .tearch_img{position: absolute; top:-54px; left:50%; margin-left:-70px;}


























