<!DOCTYPE html>
<html lang="zh-cmn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <title>十年赢家网-手机版</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="js/layer/need/layer.css">
        <link rel="stylesheet" href="js/date/css/lCalendar.css">
        <link rel="stylesheet" href="css/user.css">
    </head>
    <body>
    <!-- 社圈个人中心 -->
    <div class="yj_header">
        <font id="page_title">我的交易</font>
        <a href="javascript:history.go(-1);"><img src="images/fanhui.png" alt=""></a>
    </div>
    <div class="yj_info" id="userInfo">
    <script type="text/html" id="userInfo_tpl">    
        <img src="{{config.userInfo.avatar | urlFormat}}">
        <p class="row-1">
                <a href="javascript:;">{{config.userInfo.user_nicename}}</a>
            <div class="un-log" style="display: none;">
                <a class="left" href="">注册</a>&nbsp;|&nbsp;
                <a href="">登录</a>
            </div>
        </p>
        <p class="row-2">
            <a class="score" class="" href="javascript:;">积分{{config.userInfo.score}}</a>
            <a class="member" href="javascript:;">普通会员</a>
            <a class="yjbao" href="javascript:;">赢家宝：{{config.userInfo.win_coin}}个</a>
        </p>
    </script>  
    </div>
    <div class="deal-main">
        <form id="formSearch" action="" enctype="multipart/form-data" method="post">
            <div class="search">
                <ul>
                    <li>开始日期：<input id="begin_time" type="text" readonly="" name="start_time" value="" placeholder="选择日期" data-lcalendar="2010-01-01,2020-12-31" /></li>
                    <li>结束日期：<input id="end_time" type="text" readonly="" name="end_time" value="" placeholder="选择日期" data-lcalendar="2010-01-01,2020-12-31" /></li>
                    <li><button  type="button" class="serch-btn">搜索</button></li>
                </ul>
            </div>
        </form>
        <div class="con">
            <ul class="tit">
                <li>课程名称</li>
                <li>课程价格</li>
                <li>交易状态</li>
                <li>操作</li>
            </ul>
            <div class="deal-info"   data-page="1" data-load='true'  id="orderList">
                <script type="text/html" id="orderList_tpl">   
                {{if orderList.list}}    
                {{each orderList.list as value key}}        
                <table>
                    <tr>
                        <td colspan="2">交易单号:{{value.order_sn}}</td>
                        <td colspan="2">交易时间:{{value.ctime | dateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td width="35%">{{value.order_name}}</td>
                        <td width="15%"><span>{{value.total_money}}元</span></td>
                        <td width="25%">
                            
                        {{if value.status==2}}
                            <a href="">已支付</a>
                        {{else if value.status==1}}
                            <a href="">未支付</a>
                        {{else if value.status==3}}
                            <a href="">已取消</a>
                        {{/if}} 
                        </td>
                         <td><a class="info" href="mydealinfo.html?order_sn={{value.order_sn}}">交易详情</a></td>
                    </tr>
                </table>
                {{/each}}  
                {{else}}
                <div class="lsj_info" style="height:100px;line-height:100px;text-align:center;">
                    <p>暂无数据</p>
                </div>
                {{/if}}
                </script>  
 
            </div>
            <span class="load-more"></span>
           
        </div>
    </div>
    
    <script type="text/html" id="orderItems_tpl">   
                    
    {{each orderItems.list as value key}}        
    <table>
        <tr>
            <td colspan="2">交易单号:{{value.order_sn}}</td>
            <td colspan="2">交易时间:{{value.ctime | dateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
            <td width="35%">{{value.order_name}}</td>
            <td width="15%"><span>{{value.total_money}}元</span></td>
            <td width="25%">

            {{if value.status==2}}
                <a href="">已支付</a>
            {{else if value.status==1}}
                <a href="">未支付</a>
            {{else if value.status==3}}
                <a href="">已取消</a>
            {{/if}} 
            </td>
            <td><a class="info" href="mydealinfo.html?order_sn={{value.order_sn}}">交易详情</a></td>
        </tr>
    </table>

    {{/each}}   

    </script> 
    
    <script src='js/jquery-1.9.1.min.js'></script>
    <script src='../Public/js/layer/layer.js'></script>
    <!--数据处理-->
    <script src="../Public/js/moment.min.js"></script>
    <script src="../Public/js/plupload/plupload.full.min.js"></script>
    <script src="../Public/js/Validform/5.3.2/Validform.min.js"></script>
    <script src="../Public/js/cookie.js"></script>
    <script src="../Public/js/LG.js"></script>
    <script src="../Public/js/artTemplate.js"></script>
    <script src="../Public/js/common.js"></script>
    <script src="js/ajax/config.js"></script>
    <script src="js/ajax/mydeal.js"></script>
    
    <script src="js/date/lCalendar.min.js"></script>
    <script src="js/circle.js"></script>
    <script src="js/user.js"></script>
    <script>
        $.circle.user.search_course();
        $.circle.user.order_load();
        var calendar = new lCalendar();
        calendar.init({
            'trigger': '#begin_time',
            'type': 'date'
        });
        var calendar = new lCalendar();
        calendar.init({
            'trigger': '#end_time',
            'type': 'date'
        });
    </script>
</body>
</html>
