<!DOCTYPE html>
<html lang="zh-cmn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <title>十年赢家网-手机版</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <div class="yj_header">
            <font id="page_title">高手排行</font>
            <a href="javascript:history.go(-1);"><img src="images/fanhui.png" alt=""></a>
        </div>
        <!-- 高手排行开始 -->
        <div class="rank-main" id="killerRank">
            <script type="text/html" id="killerRank_tpl">
            <div class="ace-rank" style="border:0;">
                <ul class="rank-tab">
                    <li style="background-color: #fff;" class="on" data-val="1">股票</li>
                    <li style="background-color: #fff;" data-val="2">期货</li>
                    <li style="background-color: #fff;" data-val="3">外汇</li>
                </ul>
  
                <div class="rank-item" data-page="1" data-load="true">

                    <ul id="item_1">
                        {{each killerRank.gupiao.list as value key}}
                        <li>
                            {{if key>2}}
                            <span>{{key+1}}</span>
                            {{else}}
                            <span></span>
                            {{/if}}
                            <a href="teacher.html?id={{value.id}}">
                                <div class="pic"><img src="{{value.avatar | urlFormat}}" alt=""></div>
                                <div class="txt">
                                    <strong>{{value.real_name}}</strong>
                                    <p>{{value.tag}}</p>
                                </div>
                            </a>
                            {{if value.rankChange>0}}
                            <div class="rise">{{value.rankChange}}</div>
                            {{/if}}  

                            {{if value.rankChange<0}}

                            {{/if}}     
                        </li>
                        {{/each}} 
                    </ul>
                    <span class="load-more"></span>
                </div>
                <div class="rank-item" data-page="1" data-load="true" style="display: none;">
                    <ul id="item_2">
                        {{each killerRank.qihuo.list as value key}}
                        <li>
                            {{if key>2}}
                            <span>{{key+1}}</span>
                            {{else}}
                            <span></span>
                            {{/if}}
                            <a href="teacher.html?id={{value.id}}">
                                <div class="pic"><img src="{{value.avatar | urlFormat}}" alt=""></div>
                                <div class="txt">
                                    <strong>{{value.real_name}}</strong>
                                    <p>{{value.tag}}</p>
                                </div>
                            </a>
                            {{if value.rankChange>0}}
                            <div class="rise">{{value.rankChange}}</div>
                            {{/if}}  

                            {{if value.rankChange<0}}

                            {{/if}}     
                        </li>
                        {{/each}}
                    </ul>
                    <span class="load-more"></span>
                </div>
                
                
                <div class="rank-item" data-page="1" data-load="true" style="display: none;">
                    <ul id="item_3">
                        {{each killerRank.waihui.list as value key}}
                        <li>
                            {{if key>2}}
                            <span>{{key+1}}</span>
                            {{else}}
                            <span></span>
                            {{/if}}
                            <a href="teacher.html?id={{value.id}}">
                                <div class="pic"><img src="{{value.avatar | urlFormat}}" alt=""></div>
                                <div class="txt">
                                    <strong>{{value.real_name}}</strong>
                                    <p>{{value.tag}}</p>
                                </div>
                            </a>
                            {{if value.rankChange>0}}
                            <div class="rise">{{value.rankChange}}</div>
                            {{/if}}  

                            {{if value.rankChange<0}}

                            {{/if}}     
                        </li>
                        {{/each}}
                    </ul>
                    <span class="load-more"></span>
                </div>
            </div>
            </script>
        </div>
        
        <script type="text/html" id="item_tpl">
        {{each items.list as value key}}
        <li>
            <span>{{(page-1)*pageLimit+key+1}}</span>
            <a href="teacher.html?id={{value.id}}">
                <div class="pic"><img src="{{value.avatar | urlFormat}}" alt=""></div>
                <div class="txt">
                    <strong>{{value.real_name}}</strong>
                    <p>{{value.tag}}</p>
                </div>
            </a>
            {{if value.rankChange>0}}
            <div class="rise">{{value.rankChange}}</div>
            {{/if}}  

            {{if value.rankChange<0}}

            {{/if}}     
        </li>
        {{/each}}
        </script>
        
        <script src="js/jquery-1.9.1.min.js"></script>
        
        <!--数据处理-->
        <script src="../Public/js/moment.min.js"></script>
        <script src="../Public/js/plupload/plupload.full.min.js"></script>
        <script src="../Public/js/Validform/5.3.2/Validform.min.js"></script>
        <script src="../Public/js/cookie.js"></script>
        <script src="../Public/js/LG.js"></script>
        <script src="../Public/js/artTemplate.js"></script>
        <script src="../Public/js/common.js"></script>
        <script src="js/ajax/config.js"></script>
        <script src="js/ajax/rank.js"></script>
        
        
        <script src="js/circle.js"></script>
        <script src="js/rank.js"></script>
        <script>
            $.circle.rank.init();
        </script>
    </body>
</html>
