<tc_include file="Public:header" />
<link rel="stylesheet" href="__TMPL__Public/home/css/individual_share.css">
<style>
    .msg-rights li{width: 150px}
    .share-top .introduc{width: 310px; height: 210px}
    
    .tab-list li {position: relative;}
    .tab-list li input {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>
<script src="__TMPL__Public/home/js/jRecorder/jRecorder.js"></script>
<script>
    $.jRecorder(
    {
    host: 'acceptfile.php', //语音发送的服务器地址
            callback_started_recording: function () {
            callback_started();
            },
            callback_stopped_recording: function () {
            callback_stopped();
            },
            callback_activityLevel: function (level) {
            callback_activityLevel(level);
            },
            callback_activityTime: function (time) {
            callback_activityTime(time);
            },
            callback_finished_sending: function (time) {
            callback_finished_sending()
            },
            swf_path: '__TMPL__Public/home/js/jRecorder/jRecorder.swf',
    }
    );</script>

<div id="body">
    <script type="text/html" id="body_tpl">  
        <!-- 个人分享顶部老师简介开始 -->
        <div class="share-top">
            <div class="wp">
                <div class="pic"><img src="{{killerInfo.avatar}}" alt=""></div>
                <div class="txt">
                    <h4>{{killerInfo.real_name}}<span>股票期货高手</span></h4>
                    <p class="person-tab">投资顾问</p>
                    <p class="person-info">简介：{{killerInfo.intro}}</p>
                    <p class="person-goodat">TA的擅长
                        {{each killerInfo.tag as value key}}
                        <span>{{value}}</span>
                        {{/each}}  
                    </p>
                </div>
                <div class="introduc">
                    <ul class="signal-list">
                        <li>
                            <p>粉丝数</p>
                            <strong>{{killerInfo.fans}}</strong>
                        </li>
                        <li>
                            <p>直播热度</p>
                            <strong>{{killerInfo.views}}</strong>
                        </li>
                        <li>
                            <p>人气指数</p>
                            <strong>{{killerInfo.notice}}</strong>
                        </li>
                    </ul>
                    <p class="gift">收到礼物：<strong>{$giftCount}</strong>个</p>
                    
                    {{if killerInfo.is_focused}}
                        <span class="follow" id="followed" style="display: none;">已关注</span>
                    {{else}}
                        <span class="follow" id="follow" onclick="focusKiller(this,{{killerInfo.id}})">+关注</span>
                    {{/if}}
                    
                   
                </div>
            </div>
        </div>
        <div class="share-main wp">
            <div class="share-tit">
                <h2>聊天室</h2>
                <span>当前发言数：{{messageList.pageInfo.num}}</span><div class="see-teacher"><label>只看老师发言：<input type="checkbox"></label></div>
            </div>
            <div class="talk-main">
                <div class="talk-box" data-page="1" data-load="true">
                    <ul class="talk-list" id="talk_list">

                    </ul>
                </div>
                <div class="unread"><span id="new_num">{{messageList.readInfo.noRead}}</span>条新消息</div>
                <!-- 发送语音样式 -->
                <div class="record-voice" style="display: none;">
                    <div class="record-status" id="status"></div>
                    <div class="record-time"><span id="time">00</span>秒</div>
                    <div id="level" style="display: none;"></div>
                    <div id="levelbar" style="display: none;"></div>
                    <div class="btn-box">
                        <button id="stop">停止</button>
                        <button id="send">发送</button>
                        <button id="cancel">取消</button>
                    </div>
                </div>
                <!-- 发送消息模块开始 -->
                {{if config.userInfo.killer_id==killerInfo.id}}
                <div class="msg-rights">
                    <ul>
                        <li class="unfree" data-val="1">付费分享</li>
                        <li class="free selected" data-val="0">免费分享</li>
                    </ul>
                </div>
                {{/if}}
                
                <div class="send-msg">
                    <ul class="tab-list">
                        <li class="face emotion">心情</li>
                        <li class="picture">
                            <form id="imgFile"   action="{{config.apiUrl}}Index/uploadLocal" enctype="multipart/form-data" method="post">
                                <input class="fileUpload"  data-form='imgFile' data-type='3'  name="filename" type="file" accept="image/*">照片
                            </form> 
                        </li>
                        <li class="speach" id="record">语音</li>
                    </ul>
                    <textarea id="msg_area" class="emotion_area" cols="30" rows="2" placeholder="请输入内容…"></textarea>
                </div>
                <div class="sendmsg-tip">
                    还可输入<span id="input_fontnum">300</span>字<button class="send-btn" id="send_msg">发送</button>
                </div>
                

                <!-- 展示礼物开始 -->
                <div class="gift-box">
                    <div class="row1">
                        <span class="left"></span>
                        <span class="right"></span>
                        <div class="ul-box">
                            <ul class="gift-list">
                                {{each giftList.list as value key}} 
                                    <li data-id="{{value.id}}" data-expend="{{value.win_coin}}" data-img="{{value.img}}" ><div class="box"><img src="{{config.serviceUrl}}{{value.img}}" alt=""></div><p>{{value.win_coin}}赢家宝</p></li>
                                {{/each}}  
                                
                                
                            </ul>
                        </div>
                    </div>
                    <div class="row2">
                        <ul>
                            <li>已有赢家宝：150个</li>
                            <li>数量：<div class="gift-number"><em class="reduce">-</em><input id="gift_sum" type="text" value="1"><em class="plus">+</em></div><span>应付<i id="bao_sum">0</i>赢家宝</span></li>
                            <li><button class="send-gift" id="send-gift">立即赠送</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!--弹窗容器-->
        <div id="alertBox"></div>


        <audio style="display: none;" id="voi_player"  src="" controls="controls"></audio>
        <div class="video_bg" style="display: none;">
            <div class="top" style="display: none;">
                <span class="vid_close"></span>
            </div>
            <video src="" id="video_player" controls="controls"></video>
        </div>

        <!-- 是否收费提示框 -->
        <div id="alertD"  class="tip tip-2" style="display: none;">
            <div class="tit">该条消息是否免费 <span class="cancel" onclick="layer.closeAll()"></span></div>
            <div class="con">设置成付费消息后，需要用户订阅后才能查看该消息</div>
            <div class="btn-box">
                <span class="cancel"  onclick="sendMsg(1, 0)">免费</span>
                <span class="confirm" onclick="sendMsg(1, 1)">付费</span>
            </div>
        </div>

        <!--消息回复窗口-->
        <div id="alertE"  class="tip tip-2" style="display: none;">
            <div class="tit">回复该消息 <span class="cancel" onclick="layer.closeAll()"></span></div>
            <div class="con">
                <textarea id="replyCon" style="width: 90%;border:1px solid #d2d2d2;padding:5px"></textarea>
            </div>
            <div class="btn-box">
                <span class="cancel"  onclick="layer.closeAll()">取消</span>
                <span class="confirm" onclick="replyMsg()">发送</span>
            </div>
        </div>


    </script>
</div>

<script  type="text/html" id="alertBox_tpl">
    <div class="masking" style="display: none;"></div>
    <!-- 解锁提示框 -->
    <div id="alertA" class="tip tip-1" style="display: none;">
        <div class="tit">使用赢家宝解锁 <span class="cancel" onclick="layer.closeAll()"></span></div>
        <div class="con">解锁需要扣除{{alertInfo.expend}}赢家宝</br>当前数量：{{alertInfo.win_coin}}赢家宝</div>
        <div class="btn-box">
            <span class="cancel"  onclick="layer.closeAll()">取消</span>
            <span class="confirm" onclick="expendCoin()">确认扣除</span>
        </div>
    </div>
    <!-- 购买赢家宝提示框 -->
    <div id="alertB"  class="tip tip-2" style="display: none;">
        <div class="tit">赢家宝数量不足，请兑换 <span class="cancel" onclick="layer.closeAll()"></span></div>
        <div class="con">解锁需要扣除{{alertInfo.expend}}赢家币</br>当前数量：{{alertInfo.win_coin}}赢家币</div>
        <div class="btn-box">
            <span class="cancel"  onclick="layer.closeAll()">取消</span>
            <span class="confirm" onclick="window.location.href = '{:U("course/index")}'">去获得</span>
        </div>
    </div>

    <!-- 订阅提示框 -->
    <div id="alertC"  class="tip tip-2" style="display: none;">
        <div class="tit">您还没有订阅该老师 <span class="cancel" onclick="layer.closeAll()"></span></div>
        <div class="con">需要订阅老师才能查看该消息</br>当前赢家宝数量：{{alertInfo.win_coin}}赢家币</div>
        <div class="btn-box">
            <span class="cancel"  onclick="layer.closeAll()">取消</span>
            <span class="confirm" onclick="window.location.href='{:U("Message/standerd")}&id={{killerInfo.id}}'">去订阅</span>
        </div>
    </div>



    <audio style="display: none;" id="voi_player"  src="" controls="controls"></audio>
    <div class="video_bg" style="display: none;">
        <div class="top">
            <span class="vid_close"></span>
        </div>
        <video src="" id="video_player" controls="controls"></video>
    </div>
</script>
</div>


<!--消息体模版开始-->
<script type="text/html" id="messageList_tpl">  
    {{each messageList.list as value key}}
    {{if value.msg_type==1}}
    {{if value.killer_id==killerInfo.id}}
    {{if value.is_charge==1&&config.userInfo.killer_id!=killerInfo.id&&value.is_read!=1}}
    <li class="teawz-unfree">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info-lock" onclick="checkMsg(this,{{value.id}})"></div>
        <div class="info" style="display: none;"><i></i><span>{{#value.message | emotionFormat}}</span></div>
    </li>
    {{else}}
    {{if value.reply_id!=0}}
    <li class="teawz">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<i>回复</i>{{value.to_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info replay-info"><i></i>
            <span>{{#value.message | emotionFormat}}
                {{if value.reply_type==1}}
                <p class="user-info">{{value.to_client_name}}：{{#value.reply_message | emotionFormat}} </p>
                {{else if value.reply_type==3}}
                <p><img src="{{config.serviceUrl}}{{value.reply_attach_url}}"/></p>    
                {{else if value.reply_type==4}}
                <p><img src="{{config.serviceUrl}}{{value.reply_attach_url}}"/></p>  
                {{else if value.reply_type==5}}
                <p class="play voi_play" data-val="{{value.reply_attach_url}}"><i></i></p>
                {{else if value.reply_type==6}}
                <p><video src="{{value.reply_attach_url}}"></p>
                {{/if}}

            </span>
        </div>
    </li>
    {{else}}
    <li class="teawz">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info"><i></i>
            <span>{{#value.message | emotionFormat}}</span>
        </div>
    </li>

    {{/if}}
    {{/if}}
    {{else}}
    {{if value.reply_id!=0}}
    <li class="userwz">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
            {{value.from_client_name}}<i class="reply">回复:</i>&nbsp{{value.to_client_name}}
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
        </div>
        <div class="info replay-info"><i></i>
            <span style="color: red">{{#value.message | emotionFormat}}
                {{if value.reply_type==1}}
                <p style="border:1px solid #e5e5e5; color: #000" class="user-info">{{value.to_client_name}}：{{#value.reply_message | emotionFormat}}</p>
                {{else if value.reply_type==3}}
                <p><img src="{{config.serviceUrl}}{{value.reply_attach_url}}"/> </p>   
                {{else if value.reply_type==4}}
                <p><img src="{{config.serviceUrl}}{{value.reply_attach_url}}"/> </p>  
                {{else if value.reply_type==5}}
                <p class="play voi_play" data-val="{{value.reply_attach_url}}"><i></i></p>
                {{else if value.reply_type==6}}
                <p><video src="{{value.reply_attach_url}}"></p>
                {{/if}}
            </span>
        </div>
    </li>
    {{else}}
    <li class="userwz">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
            {{value.from_client_name}}<i class="reply"></i>
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
        </div>
        <div class="info"><i></i><span>

                {{#value.message | emotionFormat}}

            </span>
        </div>
    </li>
    {{/if}}
    {{/if}}
    {{else if value.msg_type==2}}
    {{else if value.msg_type==3}}
    {{if value.killer_id==killerInfo.id}}
    {{if value.is_charge==1&&config.userInfo.killer_id!=killerInfo.id&&value.is_read!=1}}
    <li class="teawz-unfree">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info-lock" onclick="checkMsg(this,{{value.id}})"></div>
        <div class="info" style="display: none;"><i></i><span><img src="{{config.serviceUrl}}{{value.attach_url}}"/></span></div>
    </li>

    {{else}}
    <li class="teawz">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info"><i></i>
            <span><img  width="100%"  src="{{config.serviceUrl}}{{value.attach_url}}"/></span>
        </div>
    </li> 
    {{/if}}
    {{else}}
    <li class="userwz">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
            {{value.from_client_name}}<i class="reply"></i>
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar | urlFormat}}" alt="">
        </div>
        <div class="info"><i></i><span><img  width="50%" src="{{config.serviceUrl}}{{value.attach_url}}"/></span></div>
    </li>
    {{/if}}
    {{else if value.msg_type==4}}
    <li class="userwz">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
            {{value.from_client_name}}<i class="reply">送出礼物</i>
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar | urlFormat}}" alt="">
        </div>
        <div class="info"><i></i><span><img  width="100%" src="{{config.serviceUrl}}{{value.attach_url}}"/></span></div>
    </li>
    {{else if value.msg_type==5}}
    {{if value.killer_id==killerInfo.id}}
    {{if value.is_charge==1&&config.userInfo.killer_id!=killerInfo.id&&value.is_read!=1}}
    <li class="teavoice-unfree">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info-lock" onclick="checkMsg(this,{{value.id}})"></div>
        <div class="info" style="display: none;"><span class="pointer"></span><p class="play voi_play" data-val="{{value.attach_url}}"><i></i></p>
        </div>
    </li>
    {{else}}
    <li class="teavoice">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info"><span class="pointer"></span><p class="play voi_play" data-val="{{value.attach_url}}"><i></i></p>
        </div>
    </li>
    {{/if}}
    {{else}}
    <li class="uservoice">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>{{value.from_client_name}}<img onclick="openReply({{value.id}},'{{value.from_client_name}}')"  src="{{value.avatar | urlFormat}}" alt="">
        </div>
        <div class="info"><span class="pointer"></span><p class="play voi_play" data-val="{{value.attach_url}}"><i></i></p>
        </div>
    </li>
    {{/if}} 
    {{else if value.msg_type==6}}
    {{if value.killer_id==killerInfo.id}}
    {{if value.is_charge==1&&config.userInfo.killer_id!=killerInfo.id&&value.is_read!=1}}
    <li class="teawz-unfree">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info-lock" onclick="checkMsg(this,{{value.id}})"></div>
        <div class="info" style="display: none;"><i></i><span><video src="{{value.attach_url}}"></span></div>
    </li>     
    {{else}}
    <li class="teawz">
        <div class="tit">
            <img onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar}}" alt="">
            {{value.from_client_name}}<span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>
        </div>
        <div class="info"><i></i><span><video src="{{value.attach_url}}"></span></div>
    </li>
    {{/if}} 
    {{else}}
    <li class="userwz">
        <div class="tit">
            <span class="time">{{value.saytime | dateFormat: 'MM-DD hh:mm'}}</span>{{value.from_client_name}}<img  onclick="openReply({{value.id}},'{{value.from_client_name}}')" src="{{value.avatar}}" alt="">
        </div>
        <div class="info"><i></i><span><video src="{{value.attach_url}}"></video></span></div>
    </li>
    {{/if}} 

    {{/if}}
    {{/each}}  
</script>
<!--消息体模版结束-->



<tc_include file="Public:footer" />

<!--即时通讯-->
<script src="__PUBLIC__/js/live/swfobject.js"></script>
<script src="__PUBLIC__/js/live/web_socket.js"></script>

<script src="__TMPL__Public/home/js/circle.js"></script>
<script src="__TMPL__Public/home/js/emotion.js"></script>
<script src="__TMPL__Public/home/js/ajax/config.js"></script>
<script src="__TMPL__Public/home/js/ajax/individual_share.js"></script>

<script src="__TMPL__Public/home/js/jquery.nicescroll.js"></script>
<script src="__TMPL__Public/home/js/individual_share.js"></script>



<script>
    $.talk.gift_effect();
</script>